<div class="container">
    <nav aria-label="Page navigation example">
        {% if page.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% for i in page.paginator.page_range %}

            {% if i > page.number|add:-4 and i < page.number|add:4 %}
            <li class="{% if page.number == i %} active {% endif %} page-item">
                <a class="page-link" href="?page={{ i }}&order={{ order }}">{{ i }}</a>
            </li>
            {% endif %}

            {% endfor %}
        </ul>
        {% endif %}
    </nav>
</div>