{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ object.name }}
{% endblock title %}

{% block content %}
<div class="container mt-5">

    <h1>{{ object.name }}</h1>
    <div>
        <p><b>Вид обрабатываемой детали: </b> {{ object.workpiece_type.name }}</p>
        <p><b>Вид обработки:</b> {{ object.processing_type.name }}</p>
        <p><b>Область применения:</b> {{ object.application_area.name }}</p>
    </div>

    {% for img in object.images.all %}
    <img src="{{ img.image.url }}" width="100%" alt="Инструмент">
    {% endfor %}

    <div>
        {% for file in object.files.all %}
        <b>Файлы:</b>
        <a href="{{ file.url }}">{{ file.name }}</a>
        {% endfor %}
    </div>

    <p><b>Описание:</b> {{ object.description }}</p>

</div>
{% endblock content %}