{% extends 'base.html' %}

{% block title %}
{{ object.name }}
{% endblock title %}

{% block content %}
<div class="container mt-5">

    <h1>{{ object.name }}</h1>
    <hr>
    <p><b>Вид обрабатываемой детали: </b> {{ object.workpiece_type.name }}</p>
    <p><b>Вид обработки:</b> {{ object.processing_type.name }}</p>
    <p><b>Область применения:</b> {{ object.application_area.name }}</p>
    <hr>

    {% include 'machinetools/includes/images-loop.html' %}

    <div>
        {% include 'machinetools/includes/files-loop.html' %}
    </div>

    <div class="mt-4">
        <b>Описание:</b>
        {{ object.description|safe }}
    </div>

</div>
{% endblock content %}