{% extends 'base.html' %}

{% block title %}
Инструменты
{% endblock title %}

{% block navbar %}
<div class="dropdown mr-3">
    <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">Фильтр</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'instrument_list' %}?order=workpiece_type">По виду обрабатываемой детали</a>
        <a class="dropdown-item" href="{% url 'instrument_list' %}?order=application_area">По области применения</a>
    </div>
</div>
{% include 'machinetools/includes/search-form.html' %}
{% endblock navbar %}

{% block content %}
<section class="album py-5">
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-3">
            {% for object in page %}
            <div class="col mb-4">
                <div class="card mb-4 box-shadow">

                    {% include 'machinetools/includes/card-image.html' %}

                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text"><small class="text-muted">{{ object.workpiece_type.name }}</small></p>
                        <p class="card-text"><small class="text-muted">{{ object.application_area.name }}</small></p>
                        <a class="btn btn-info" href="{{ object.get_absolute_url }}">
                            Подробнее <i class="far fa-arrow-alt-circle-right fa-sm"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'machinetools/includes/pagination.html' %}

{% endblock content %}