{% extends 'base.html' %}

{% block title %}
Справочники
{% endblock title %}

{% block navbar %}
{% include 'machinetools/includes/search-form.html' %}
{% endblock navbar %}

{% block content %}
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="list-group">
            {% for manual in page %}
            <a href="{{ manual.file.url }}" class="list-group-item list-group-item-action">{{ manual.name|truncatechars:40 }}</a>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'machinetools/includes/pagination.html' %}

{% endblock content %}