{% extends 'base.html' %}    {% for img in object.images.all %}
    <img src="{{ img.image.url }}" width="100%" alt="Инструмент">
    {% endfor %}

{% load static %}

{% block title %}
Оснастки
{% endblock title %}


{% block navbar %}
{% include 'machinetools/includes/search-form.html' %}
{% endblock navbar %}


{% block content %}
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3">
        {% for object in page %}
        <div class="col mb-4">
            <div class="card">

                {% include 'machinetools/includes/card-image.html' %}

                <div class="card-body">
                    <h5 class="card-title">{{ object.name }}</h5>
                    <p class="card-text"><small class="text-muted">{{ object.rigging_type.name }}</small></p>
                    <a class="btn btn-info" href="{{ object.get_absolute_url }}">
                        Подробнее <i class="far fa-arrow-alt-circle-right fa-sm"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'machinetools/includes/pagination.html' %}

{% endblock content %}