{% extends 'base.html' %}

{% block title %}
{{ object.name }}
{% endblock title %}

{% block content %}
<div class="container mt-5">

    <h1>{{ object.name }}</h1>
    <p class="lead">{{ object.group.name }}</p>
    <hr>
    <p><b>Мощность, кВт:</b> {{ object.power }}</p>
    <p><b>Частота вращения, Об/мин:</b> {{ object.rotation_frequency }}</p>
    <p><b>Конус шпинделя:</b> {{ object.spindle_cone }}</p>
    <p><b>Крутящий момент, Н*м:</b> {{ object.torque }}</p>
    <hr>

    <div>
        {% include 'machinetools/includes/files-loop.html' %}
    </div>

    {% include 'machinetools/includes/images-loop.html' %}

    <p class="mt-4"><b>Описание:</b> {{ object.description }}</p>

</div>
{% endblock content %}